* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: repeating-linear-gradient(to right,
            #ffe4ec 0px,
            #ffe4ec 120px,
            #fff6f9 120px,
            #fff6f9 140px);
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
  z-index: 10;
}

.logo {
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
  color: #5a3e45;
  letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 28px;
    margin: 0;
    padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-family: 'Fredoka', sans-serif;
  font-size: 16px;
  color: #5a3e45;

  transition: 0.2s ease;
}

.nav-links a {
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 3px;
  background: #f3a6c3;
  border-radius: 10px;
  transition: 0.2s;
}

.nav-links a:hover::after {
  width: 100%;
}

.garland {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 300px;

    background-image: url("images/cloud.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: top;

    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
}

h1 {
    font-family: 'Fredoka', sans-serif;
    font-size: 80px;
    color: #ff8fb1;

    text-align: center;
    margin-top: 5%;
    margin-bottom: 0%;

    letter-spacing: 2px;
    text-transform: uppercase;

    text-shadow:
    2px 2px 0 #ffffff,
    4px 4px 0 #f1abc6,
    0 0 10px rgba(255, 182, 193, 0.6);
  
}

.subtitle {
    font-family: 'Fredoka', sans-serif;
    font-size: 24px;
    color: #5a3e45;

    text-align: center; 
    padding-top: 0%;
}

.intro {
    max-width: 700px;
    margin: 100px auto 60px; /* centrerar + spacing */
    text-align: center;

    background: white;
    padding: 24px 32px;
    border-radius: 25px;
    box-shadow: 0 6px 0 #f3a6c3;

    border: 3px solid #f7c6d9;
}

.intro h2 {
    font-family: 'Fredoka', sans-serif;
    font-size: 28px;
    color: #5a3e45;

    margin-bottom: 12px;
}

.intro p {
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    color: #5a3e45;

    line-height: 1.6;
}

.cake-belt {
  width: 100%;
  overflow: hidden;
  margin-top: 80px;
  padding: 20px 0;
}

.cake-track {
    display: flex;
    align-items: center;
    gap: 0;
    width: max-content;
    animation: scroll-cakes 20s linear infinite;
}

.cake-group {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 60px;
}

.cake-group img {
    width: 60px;
    height: auto;
    image-rendering: pixelated;
}

.cake-track img {
  width: 70px;
  height: auto;
  image-rendering: pixelated;
}

@keyframes scroll-cakes {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.bottom-garland {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;

    background-image: url("images/garland-bottom.png");
    background-repeat: repeat-x;
    background-size: contain;

    z-index: 1000;
}